# Folders
__pycache__/
code_magnus/
logs/
results/
exp_data_20230421/
tensorflow/
version_*
phases/
test.py
.vscode/
/configs/
/wandb/

# File types
*.bin
*.png
*.jpg
*.jpeg
*.txt
*.ckpt
*:Zone.Identifier
*.pyc
*.csv
*.json
*.zip
*.out
